#----------------------------------------------------
# Default User
#----------------------------------------------------
VERION=0.0.1
BASE_DIR=/kiwi7

# LOGGING
LOG_LEVEL=DEBUG

# JWT
JWT_SECRET_KEY=kiwi7_secret_key_1234_!@#$
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
ACCESS_TOKEN_NAME=kiwi7_token

# kiwwom API관련키
KIWOOM_ACCT_NO="1033-4006"
KIWOOM_APP_KEY=
KIWOOM_SECRET_KEY=

# GODATA
GODATA_API_KEY=
