extend-include = ["*.ipynb"]
preview = true
line-length = 100
indent-width = 2

[format]
preview = true
quote-style = "single"
indent-style = "space"
skip-magic-trailing-comma = true
docstring-code-format = true