{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<div class="container mt-4">
    <h4 class="mb-3"><i class="bi bi-cash-stack me-2 text-success"></i>계좌 손익 분석</h4>

    <ul class="nav nav-tabs" id="profitTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="ka10074-tab" data-bs-toggle="tab" data-bs-target="#tab-ka10074" type="button" role="tab" aria-controls="tab-ka10074" aria-selected="true">일자별 실현손익 (ka10074)</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="ka01690-tab" data-bs-toggle="tab" data-bs-target="#tab-ka01690" type="button" role="tab" aria-controls="tab-ka01690" aria-selected="false">일별잔고수익률(ka01690)</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="ka10072-tab" data-bs-toggle="tab" data-bs-target="#tab-ka10085" type="button" role="tab" aria-controls="tab-ka10072" aria-selected="false">계좌수익율</button>
        </li>
    </ul>

    <div class="tab-content border p-0 mt-2" id="profitTabsContent">
    {% include 'common/kiwoom_api/ka10074.html' %}
    {% include 'common/kiwoom_api/ka10085.html' %}
    {% include 'common/kiwoom_api/ka01690.html' %}
    <!--TODO kt00016-->
    </div>
{% endblock %}
{% block script %}
<script id="profit-lose">
    (function(){
        const start_ymd = "{{ data.start_ymd }}";
        const end_ymd = "{{ data.end_ymd }}";
        window.format_start_ymd = start_ymd ? start_ymd.slice(0,4) + '-' + start_ymd.slice(4,6) + '-' + start_ymd.slice(6,8) : null;
        window.format_end_ymd = end_ymd ? end_ymd.slice(0,4) + '-' + end_ymd.slice(4,6) + '-' + end_ymd.slice(6,8) : null;
    })();
</script>
<script src="/public/js/kiwoom_api/ka10074.component.js"></script>
<script src="/public/js/kiwoom_api/ka01690.component.js"></script>
<script src="/public/js/kiwoom_api/ka10085.component.js"></script>
{% endblock %}
