<ul class="menu menu-horizontal px-1 gap-2 items-center">
    <li>
        <!-- 매매일지 작성 모달 버튼 -->
        <a href="javascript:void(0);"
            class="btn btn-ghost btn-circle relative flex items-center justify-center tooltip tooltip-bottom"
            data-tip="매매일지 작성" onclick="showDiaryModal()">
            <i class="bi bi-pencil-square text-success text-xl"></i>
        </a>
    </li>

    <li>
        <!-- 종목찾기 모달 버튼 -->
        <!-- 종목 찾기 아이콘 -->
        <button class="btn btn-ghost btn-circle relative flex items-center justify-center tooltip tooltip-bottom"
            data-tip="종목 찾기" onclick="document.getElementById('stkFindModal').showModal()">
            <i class="bi bi-search text-xl"></i>
        </button>
    </li>
    <li>
        <!-- 실선 별 대신 빈 별 -->
        <a href="/page?path=stock/mystock"
            class="btn btn-ghost btn-circle relative flex items-center justify-center tooltip tooltip-bottom"
            data-tip="나의 관심종목">
            <i class="bi bi-heart text-error text-xl"></i>
        </a>
    </li>
    <li>
        <!-- 다른 날짜 아이콘 -->
        <div
            class="btn btn-ghost no-animation hover:bg-transparent cursor-default text-primary font-mono text-base font-normal">
            <i class="bi bi-clock me-1"></i><span id="span_today_time">{{today}}</span>
        </div>
    </li>
    <li>
        <!-- 다른 설정 아이콘 -->
        <a href="/page?path=settings/edit"
            class="btn btn-ghost btn-circle relative flex items-center justify-center tooltip tooltip-bottom"
            data-tip="설정">
            <i class="bi bi-gear text-xl"></i>
        </a>
    </li>
    <li>
        <a href="/logout"
            class="btn btn-ghost btn-circle relative flex items-center justify-center tooltip tooltip-bottom"
            data-tip="{{user_id}} 로그아웃">
            <i class="bi bi-power text-error text-xl"></i>
        </a>
    </li>
</ul>