<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <!-- 실선 별 대신 빈 별 -->
        <a href="/page?path=mystock/mystock" class="nav-link text-danger" title="즐겨찾기">
            <i class="bi bi-star"></i>
        </a>
    </li>
    {% if page_path and page_path != 'main' %}
    <li class="nav-item">
        <!-- 다른 새로고침 아이콘 -->
        <a href="/page?path={{page_path}}" class="nav-link text-primary" title="새로고침">
            <i class="bi bi-arrow-clockwise"></i>새로고침
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <!-- 다른 날짜 아이콘 -->
        <span class="nav-link text-primary">
            <i class="bi bi-clock me-1"></i><span id="span_today_time">{{today}}</span>
        </span>
    </li>
    <li class="nav-item">
        <!-- 다른 설정 아이콘 -->
        <a class="nav-link" href="/page?path=settings/edit" title="설정">
            <i class="bi bi-gear"></i>
        </a>
    </li>
    <li class="nav-item">
        <!-- 다른 사용자 아이콘 -->
        <a class="nav-link" href="/page?path=user/user" data-user-id="{{user_id}}" id="username" title="{{user_id}} - 사용자 설정">
            <i class="bi bi-person-gear"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout" title="{{user_id}} 로그아웃">
            <i class="bi bi-power"></i>
        </a>
    </li>
</ul>